:root {
    --red: #EA5454;
    --cyan: #44D3D2;
    --orange: #FCAE4A;
    --blue: #549EF2;
    --dark-blue: #4D4F62;
    --light-gray: #FAFAFA;
    --white: #FFF;
    --font-family: 'Poppins', sans-serif;
    --font-size-1: 1.5rem;
    --font-size-2: 1.25rem;
    --font-size-3: 0.9375rem;
    --font-size-4: 0.8125rem;
    --line-height-1: 1.5625rem;
    --line-height-2: 1.4375rem;
    --letter-spacing-1: 0.01044rem;
    --letter-spacing-2: 0.0065rem;
    --letter-spacing-3: 0.00563rem;
    --mobile: 375px;
    --desktop: 1440px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-3);
    color: var(--dark-blue);
    background-color: var(--light-gray);
}